<div class="infor_left">
    <p><span>Bui Duong Lich 36, Son Tra district, Da Nang city, Vietnam country</span><span
            class="infor_left_email">Email:
            vicnguyendesign@gmail.com</span><span class="phone">Tel: +84 369 753 758</span></p>
</div>
<div class="infor_right">
    <ul>
        <li><a href="https://www.facebook.com/Vicnguyendesign" target="_blank"><i class="fa fa-facebook-square"
                    aria-hidden="true"></i></a></li>
        <li><a href="https://www.behance.net/vicnguyendesign" target="_blank"><i class="fa fa-behance-square"
                    aria-hidden="true"></i></a></li>
        <li><a href="https://vimeo.com/user49823220" target="_blank"><i class="fa fa-vimeo-square"
                    aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/vicnguyendesign/" target="_blank"><i class="fa fa-instagram"
                    aria-hidden="true"></i></a></li>
    </ul>
</div>