<div class="rd-mobilepanel">
    <button class="rd-mobilepanel_toggle"><span></span></button>
</div>
<div class="rd-mobilemenu">
    <div class="rd-mobilemenu_ul">

        <ul class="menunav">
            <li class="main_search">
                <div class="main_search-wrap">
                    <div class="main_search-input"><input type="text" name="" id="" placeholder="Search...">
                        <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </div>
                </div>
            </li>
            <li class="active"><a href="#" class="header-portfolio">Portfolio</a>
            </li>
            <li class=""><a href="#" class="header-model">Model</a>
            </li>
            <li class=""><a href="#" class="header-team">Team</a>
            </li>
            <li class=""><a href="#" class="header-about">About</a>
            </li>
            <li class=""><a href="#" class="header-contact">Contact</a>
            </li>
        </ul>
    </div>
</div>


<div class="logo header-hover">
    <a href="#" class="header-portfolio">ARCH - DESIGN &amp; 3DVISUALIZATION</a>
</div>

<nav class="main_menu">

    <ul class="menunav">
        <li class="main_search">
            <div class="main_search-wrap">
                <div class="main_search-input"><input type="text" name="" id="" placeholder="Search...">
                    <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
            </div>
        </li>
        <li class="header-hover"><a href="#" class="header-portfolio">Portfolio</a>
        </li>
        <li class="header-hover"><a href="#" class="header-model">Model</a>
        </li>
        <li class="header-hover"><a href="#" class="header-team">Team</a>
        </li>
        <li class="header-hover"><a href="#" class="header-about">About</a>
        </li>
        <li class="header-hover"><a href="#" class="header-contact">Contact</a>
        </li>
    </ul>
</nav>