<div class="rd-mobilepanel">
    <button class="rd-mobilepanel_toggle"><span></span></button>
</div>
<div class="rd-mobilemenu">
    <div class="rd-mobilemenu_ul">

        <ul class="menunav">
            <li class="active"><a href="#" class="header-portfolio">Portfolio</a>
            </li>
            <li class=""><a href="#" class="header-model">Model</a>
            </li>
            <li class=""><a href="#" class="header-team">Team</a>
            </li>
            <li class=""><a href="#" class="header-about">About</a>
            </li>
            <li class=""><a href="#" class="header-contact">Contact</a>
            </li>
        </ul>
    </div>
</div>


<div class="logo header-hover">
    <a href="#" class="header-portfolio">ARCH - DESIGN &amp; 3DVISUALIZATION</a>
</div>
<nav class="main_menu">

    <ul class="menunav">
        <li class="header-hover"><a href="#" class="header-portfolio">Portfolio</a>
        </li>
        <li class="header-hover"><a href="#" class="header-model">Model</a>
        </li>
        <li class="header-hover"><a href="#" class="header-team">Team</a>
        </li>
        <li class="header-hover"><a href="#" class="header-about">About</a>
        </li>
        <li class="header-hover"><a href="#" class="header-contact">Contact</a>
        </li>
    </ul>
</nav>