@media (max-width: 575px) {
    #header {
        .main_menu {
            display: none !important;
        }

        .rd-mobilemenu {

        }
        .rd-mobilemenu.active {
            display: block !important;
            margin-top: 39px;
            width: 100%;

            .rd-mobilemenu_ul {
                background-color: rgba(0, 0, 0,0.9);
                ul {

                    li {
                        padding-left: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .logo {
            margin-right: 10px;
        }
    }

    #main {
        .top {
            
            .slogan {
                right: 0%;
                box-sizing: border-box;
                padding: 50px 25px 0px 25px;

                #logo {
                    img {
                        width: 35%;
                    }
                }
                p {
                    position: relative;
                    left: 0px;
                    line-height: inherit;
                    font-size: 12px;
                    bottom: inherit;
                }
            }
        }
        .main_infor {
            display: block;
            top: -70px;

            .main_infor-wrap {

                .infor-icon {
                    width: 60%;

                    div {
                        height: 40%;
                    }
                }
            }
        }

        .main_des {

            .main_des-wrap {

                .des-container {
                    grid-template-columns: repeat(1, 1fr);
                    box-sizing: border-box;
                    padding: 0px 25px;
                }
            }
        }
        .custom_wrap {
            .top {

                .slogan {
                    #logo {
                        width: 20%;

                        img {
                            width: 100%;
                        }
                    }
                    p {
                        top: 75px;
                    }
                }
            }

            //team page
            .block_team {
                .container {
                    
                    .content {

                        ul {
                            display: block;

                            li {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            //about page
        .block_about {
            .container {
                .content {
                    .item {
                        .detail {
                            .detail-title {
                                .title-award {
                                    width: 50% !important;
                                }
                            }
                            

                                .detail-item.awards {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;
                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                                .detail-item.publication {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;
                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                        }
                    }
                }
            }
        }
        }

        .bg_contact {
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;
                        label {
                        }
                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }
                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }
                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }

        .main_content {
            padding: 0px 25px 40px;
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .main_search {
            top: -65px;
            padding: 0px 25px;
            box-sizing: border-box;

            .main_search-wrap {

                .main_search-input {

                    input {
                        font-size: 12px;
                        padding: 10px;
                    }
                }
            }
        }
        .main_infor {
            top: -50px;
            box-sizing: border-box;
        }
    }

    #footer {
        .infor_left {
            width: 100%;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            
            .infor_left_email {
                &::before {
                    display: none;
                }
            }
        }
        .infor_right {
            display: none;
        }

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #header {
        .main_menu {
            display: none !important;
        }
        
    }
    #main {

        .top {

            .slogan {
                right: inherit;
                box-sizing: border-box;
                padding: 30px 25px 0px;

                p {
                    width: 84%;
                }
            }
        }

        .main_search {
            top: -180px;
            box-sizing: border-box;
            padding: 0px 25px;
        }

        .custom_wrap {

            .block_about {

                .container {
                    box-sizing: border-box;

                    .content {

                        .item {

                            .detail {
                                .detail-title {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);
                                    .title-award {
                                        grid-column: 1 /3;
                                    }
                                }
                                .detail-wrap {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);

                                    .detail-item.awards {
                                        width: 100%;
                                        display: grid;
                                        grid-template-columns: repeat(2, 1fr);
                                        grid-column: 1 / 3;

                                        ul {
                                            width: 100%;

                                            li {
                                                list-style: none;
                                                margin: 0;
                                            }
                                        }
                                    }

                                    .detail-item.publication {
                                        width: 100%;

                                        ul {
                                            li {
                                                list-style: none;
                                            }
                                        }
                                    }
                                }
                                .detail-item.publication {
                                        ul {
                                            li {
                                                padding-right: 0px !important;
                                                margin: 0px;
                                            }
                                        }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bg_contact {
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;
                        label {
                        }
                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }
                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }
                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #header {
        .rd-mobilepanel {
            display: none;
        }
    }

    #main {

        .top {

            .slogan {
                right: inherit;
                box-sizing: border-box;
                padding: 30px 25px 0px;

                p {
                    width: 84%;
                }
            }
        }

        .main_search {
            top: -180px;
            box-sizing: border-box;
            padding: 0px 25px;
        }

        .custom_wrap {

            .block_about {

                .container {
                    box-sizing: border-box;

                    .content {

                        .item {

                            .detail {
                                .detail-title {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);
                                    .title-award {
                                        grid-column: 1 /3;
                                    }
                                }
                                .detail-wrap {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);

                                    .detail-item.awards {
                                        width: 100%;
                                        display: grid;
                                        grid-template-columns: repeat(2, 1fr);
                                        grid-column: 1 / 3;

                                        ul {
                                            width: 100%;

                                            li {
                                                list-style: none;
                                                margin: 0;
                                            }
                                        }
                                    }

                                    .detail-item.publication {
                                        width: 100%;

                                        ul {
                                            li {
                                                list-style: none;
                                            }
                                        }
                                    }
                                }
                                .detail-item.publication {
                                        ul {
                                            li {
                                                padding-right: 0px !important;
                                                margin: 0px;
                                            }
                                        }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bg_contact {
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;
                        label {
                        }
                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }
                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }
                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }


    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #main {
        .top {
            
            .slogan {
                right: 0%;
                box-sizing: border-box;
                padding: 50px 25px 0px 25px;

                #logo {
                    img {
                        width: 100%;
                    }
                }
                p {
                    position: relative;
                    left: 0px;
                    line-height: inherit;
                    font-size: 16px;
                    bottom: -115px;
                }
            }
        }

        .custom_wrap {
            .top {

                .slogan {
                    #logo {
                        width: 20%;

                        img {
                            width: 100%;
                        }
                    }
                    p {
                        top: 255px;
                    }
                }
            }


            //about page
        .block_about {
            .container {
                .content {
                    .item {
                        .detail {
                            .detail-title {
                                .title-award {
                                    width: 50% !important;
                                }
                            }
                            

                                .detail-item.awards {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;
                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                                .detail-item.publication {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;
                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                        }
                    }
                }
            }
        }
        }

        

        .bg_contact {
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;
                        label {
                        }
                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }
                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }
                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }

        
    }
}

@media (min-width: 1200px) {
    #header {
        .rd-mobilepanel {
            display: none;
        }
    }
    #main {
        .top {
            .slogan {
                right: 30%;
            }
        }
    }
}