@media (max-width: 575px) {
    #header {

        
        .main_menu {
            display: none !important;
        }


        .rd-mobilemenu {}

        .rd-mobilemenu.active {
            display: block !important;
            margin-top: 30px;
            width: 100%;

            .rd-mobilemenu_ul {
                background-color: rgba(0, 0, 0, 0.9);

                ul {

                    li {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .logo {
            margin-right: 10px;
            a {
                font-size: 0.75rem;
            }
        }

        

    }

    #main {
        box-sizing: border-box;
        padding: 0px 10px;
        .top {

            .slogan {
                right: 0%;
                box-sizing: border-box;
                // padding: 50px 25px 0px 25px;

                #logo {
                    img {
                        width: 50%;
                    }
                }

                p {
                        line-height: inherit;
                    font-size: 0.75rem;
                    bottom: inherit;
                }
                .slogan-button {
                    padding: 10px 12px;
                    margin-bottom: 10px;
                }
            }
        }
        .top.model {
            .slogan {
                a {
                    img {
                        width: 15% !important;
                    }
                }
            }
        }

        .grid-container {
            .column {
                flex: 50%;
                max-width: 100% !important;
            }
            
        }

        .main_infor {
            display: block;
            top: -70px;

            .main_infor-wrap {

                .infor-icon {
                    width: 60%;

                    div {
                        height: 40%;
                    }
                }
            }
        }

        .main_des {

            .main_des-wrap {

                .des-container {
                    grid-template-columns: repeat(1, 1fr);
                    box-sizing: border-box;
                    padding: 0px 25px;
                }
            }
        }

        .custom_wrap {
            .top {

                .slogan {
                    #logo {
                        width: 20%;

                        img {
                            width: 100%;
                        }
                    }

                    p {
                        top: 75px;
                    }
                }
            }

            //team page
            .block_team {
                .container {
                    
                    .content {
                        margin-bottom: 50px;

                        ul {
                            display: block;

                            li {
                                width: 100%;

                                .team {

                                    .infor_team {
                                        text-align: center;
                                        p {
                                            span {
                                                display: inline;

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //about page
            .block_about {
                .container {
                    .content {
                        .item {
                            .detail {
                                .detail-title {
                                    .title-award {
                                        width: 50% !important;
                                    }
                                }


                                .detail-item.awards {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;

                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }

                                .detail-item.publication {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;

                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bg_contact {
            display: block;
            margin-bottom: 100px;
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;

                        .contact-object {
                            
                            input {
                                width: 100%;
                            }
                        }

                        label {}

                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }

                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }

                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }

        .main_content {

            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        

        .main_infor {
            top: -50px;
            box-sizing: border-box;
        }
    }

    #footer {
        padding: 0px 10px;
        .infor_left {
            font-size: 0.75rem;
            width: 100%;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;

            .infor_left_email {
                &::before {
                    display: none;
                }
            }
            .phone {
                display: none;
            }
        }

        .infor_right {
            display: none;
        }

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #header {

            .main_menu {
                display: none !important;
            }

    }

    #main {

        .top {

            .slogan {
                right: inherit;
                box-sizing: border-box;
                padding: 30px 25px 0px;

                p {
                    width: 84%;
                }
            }
        }


        .custom_wrap {

            .block_about {

                .container {
                    box-sizing: border-box;

                    .content {

                        .item {

                            .detail {
                                .detail-title {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);

                                    .title-award {
                                        grid-column: 1 /3;
                                    }
                                }

                                .detail-wrap {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);

                                    .detail-item.awards {
                                        width: 100%;
                                        display: grid;
                                        grid-template-columns: repeat(2, 1fr);
                                        grid-column: 1 / 3;

                                        ul {
                                            width: 100%;

                                            li {
                                                list-style: none;
                                                margin: 0;
                                            }
                                        }
                                    }

                                    .detail-item.publication {
                                        width: 100%;

                                        ul {
                                            li {
                                                list-style: none;
                                            }
                                        }
                                    }
                                }

                                .detail-item.publication {
                                    ul {
                                        li {
                                            padding-right: 0px !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bg_contact {
            
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;

                        label {}

                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }

                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }

                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .grid-container {
            .column {
                flex: 40%;
                flex-wrap: wrap;
                max-width: 50%;
            }
        }


}

@media (min-width: 768px) and (max-width: 991.98px) {
    #header {
        .main_menu {
            display: none !important;
        }


        .rd-mobilemenu {}

        .rd-mobilemenu.active {
            display: block !important;
            margin-top: 39px;
            width: 100%;

            .rd-mobilemenu_ul {
                background-color: rgba(0, 0, 0, 0.9);
                
                ul {
                    
                    li {
                        padding-left: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .logo {
            margin-right: 10px;
        }


        
}

    #main {

        .top {

            .slogan {
                right: inherit;
                box-sizing: border-box;
                padding: 60px 25px 0px;

                p {
                    width: 84%;
                }
            }
        }


        .custom_wrap {

            .block_about {

                .container {
                    box-sizing: border-box;

                    .content {

                        .item {

                            .detail {
                                .detail-title {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);

                                    .title-award {
                                        grid-column: 1 /3;
                                    }
                                }

                                .detail-wrap {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);

                                    .detail-item.awards {
                                        width: 100%;
                                        display: grid;
                                        grid-template-columns: repeat(2, 1fr);
                                        grid-column: 1 / 3;

                                        ul {
                                            width: 100%;

                                            li {
                                                list-style: none;
                                                margin: 0;
                                            }
                                        }
                                    }

                                    .detail-item.publication {
                                        width: 100%;

                                        ul {
                                            li {
                                                list-style: none;
                                            }
                                        }
                                    }
                                }

                                .detail-item.publication {
                                    ul {
                                        li {
                                            padding-right: 0px !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .block_team {
                .container {
                    .content {
                        ul {
                            li {
                                .team {
                                    .img_team {
                                        width: inherit;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bg_contact {
            margin-bottom: 50px;
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;

                        .contact-object {
                            input {
                                width: 100%;
                            }
                        }

                        label {}

                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }

                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }

                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }

        .grid-container {
            .column {
                flex: 40%;
                flex-wrap: wrap;
                max-width: 50%;
            }
        }
    }



}

@media (min-width: 992px) and (max-width: 1199.98px) {

    #header {
        .rd-mobilepanel {
            display: none;
        }
    }
    #main {
        box-sizing: border-box;
        padding: 0px 10px;
        .top {

            .slogan {
                box-sizing: border-box;

                #logo {
                    img {
                        width: 50%;
                    }
                }

                p {
                    line-height: inherit;
                    font-size: 1.6rem;
                }
            }
        }

        .custom_wrap {
            .top {

                .slogan {
                    #logo {
                        width: 20%;

                        img {
                            width: 100%;
                        }
                    }

                    p {
                        top: 255px;
                    }
                }
            }


            //about page
            .block_about {
                .container {
                    .content {
                        .item {
                            .detail {
                                .detail-title {
                                    .title-award {
                                        width: 50% !important;
                                    }
                                }


                                .detail-item.awards {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;

                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }

                                .detail-item.publication {
                                    width: 50% !important;
                                    display: block !important;

                                    ul {
                                        width: 100%;

                                        li {
                                            list-style: none !important;
                                            margin: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }



        .bg_contact {
            .container {
                .contact {

                    form {
                        padding: 0px 25px;
                        display: block;
                        box-sizing: border-box;
                        margin: 70px 0px;

                        .contact-object {
                            input {
                                width: 100%;
                            }
                        }

                        label {}

                        input {
                            width: 100%;
                            box-sizing: border-box;
                        }

                        textarea {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                        }

                        .button {
                            width: 30%;
                        }
                    }
                }
            }
        }


    }
}


@media (min-width: 1200px) {
    #header {

            .rd-mobilepanel {
                display: none !important;
            }
    }

    // #main {
    //     .top {
    //         .slogan {
    //             left: 50%;
    //             transform: translateX(-50%);
    //         }
    //     }
    // }
}